body {
  background-color: #03101a;
  color: white;
}

.App {
  padding: 20px;
}

.search input {
  background-color: transparent;
  outline: none;
  border-color: #757575;
  border-width: 0px 0 3px 0;
  color: white;
  padding-bottom: 3px;
  font-size: 23px;
  width: 350px;
}

.search button {
  background-color: transparent;
  color: white;
  font-size: 23px;
  border-width: 3px;
  padding: 6px 15px;
  margin-left: 16px;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  margin: 10px 5px;
  display: inline-block;
  width: 200px;
  background-color: #0c2b42;
  text-align: center;
}

.movie img {
  max-width: 100%;
}

.movie h3 {
  margin: 8px;
}
